@import 'scss/variabel',
        'scss/mixins',
        'scss/basemobile';

@media (min-width:1024px) {
    /* Banner */
    .banner {
        height: 20em;
    }
    .typography-header {
        flex-direction: row;
        justify-content: center;
    }
    .typography-header h2 {
        text-align: left;
        font-size: 5em;
        margin-top: 0;
        margin-left: 4rem;
    }
    .typography-header p {
        text-align: left;
        font-size: 1.4em;
        margin-left: 4rem;
        max-width: 530px;
        line-height: 1.5;
    }
    .container-text-banner {
        width: 80%;
       margin-top: 5%;
    }
    /* Navbar */
    .navbar-container {
        width: 80%;
    }
    .bg-container { /* For Desktop size */  
        width: 80%;
        height: 100%;
        background: linear-gradient(to right, white,transparent 60%),
                    linear-gradient(to left, white,transparent 60%),
                    linear-gradient(to top, white,transparent 40%),
                    linear-gradient(to bottom, white,transparent 70%),
                    white url(img/banner.jpg)  top 50% center no-repeat ;
        background-size: cover;
        order: 0;
        border-radius: 0;
    }       
}
@media (max-width: 444px) {
    .typography-header h2 {
        font-size: 2em; /*34px*/
      
    }
    
    .typography-header p {
        font-size: 1em; /*18px*/
        
}
}

