* {
    box-sizing: border-box;
}
body,h1,ul,h2,h3,h4,p {
    margin: 0;
}

body {
    min-height: 100vh;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}
header {
  
}
/* Layout */
.container {
    width: 95%;
    margin: 0 auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    height: 80%;
}

.banner {
    width: 100%;
    height: 15.75rem; /*252px*/
    
}
.typography-header {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.content {
    width: 80%;
    height: 100vh;
}
.text-style {
    margin-bottom: 30px;
}
.art-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  
}
.size-img {
    width: 200px;
    height: 100%;
     

}
.art-container .photo-horizontal-1 {
 
    background:
                linear-gradient(to top, rgb(213,236,243),transparent 40%),
                url(img/post1.jpg) center no-repeat;
    background-size: cover; 
    transition: linear-background .5s cubic-bezier(.24,.56,.58,.78);
     
}
.art-container .photo-horizontal-3 {
    background:  linear-gradient(to top, rgb(213,236,243),transparent 30%),
                url(img/post2.jpg) center no-repeat;
    background-size: cover; 
    transition: linear-background .5s cubic-bezier(.24,.56,.58,.78);
}
.position1 {
    top: 110px;
}
.position-content {
    position: absolute;
    margin-top: 40px;
}
.position2 {
    top: 220px;
    display: none;
}
.sideinfo {
    display: flex;
    flex-direction: row;
    height: 120px;
    
}
.side-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 100%;
    font-family:'Montserrat', Arial, Helvetica, sans-serif;
    color: #555a70;
    padding: 5px;
    text-align: center;
    font-size: .8em;
    position: relative;
    overflow: hidden;
}
.side-text span {
    font-size: .7em;
}

.desc-box{ 
    display: table;
   
}
/* Styling Content */
.text-logo {
    font-family: 'Parisienne', 'Roboto','Helvetica' ;
    color: #121212;
    font-size: 2em;
    margin: 10px;
}

.navbar a {
    font-size: 1.2em;
    color: #121212;
    font-family: 'Montserrat','Roboto', 'Helvetica' ;
    padding: .625em .9375em;
}

h1,h2,h3 {
    color: #2b2d38;
}
.typography-header h2 {
    font-family:'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 2.125em; /*34px*/
    margin-top: 1.17em; /*40px*/
}

.typography-header p {
    margin-top: 1.1em; /*20px*/
    font-size: 1.125em; /*18px*/
    font-family:'Montserrat', Arial, Helvetica, sans-serif;
    color: #555a70;
    max-width: 350px;/*350px*/
}

.notes ul{
    list-style-type: decimal;
    padding:10px 25px;
    font-family:'Montserrat', Arial, Helvetica, sans-serif;
    color: #555a70;
    font-weight: bold;
}

.typo-notes {
    font-family:'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    position: relative;
    align-self: flex-start;
}
.content .first-row {
    letter-spacing: 10px;
}

.content .second-row {
    letter-spacing: 8px;
}

.side-text a {
    align-self: center;
    width: 80%;
    position: absolute;
    bottom:0;
    padding: 5px 7px;
    font-size: .8em;
    font-weight: bold;
    background-color: rgb(213,236,243);
    color: #121212;
    border-radius: 5%;
    transition: background-color .5s cubic-bezier(.24,.56,.58,.78);
}

.side-text a:hover {
    background-color: #fbe786;
}

.photo-horizontal-1:hover {
    background:
    linear-gradient(to top, #fbe786,transparent 40%),
    url(img/post1.jpg) center no-repeat;
background-size: cover; 
}

.photo-horizontal-3:hover {
    background:
    linear-gradient(to top, #fbe786,transparent 40%),
    url(img/post2.jpg) center no-repeat;
background-size: cover; 
}

@media (max-width:321px) {
    .content {
        width: 90%;
    }
}